#partyList {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
  }
  
  .recipe {
    flex: 1 1 300px;
    max-width: 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .recipe img {
    max-width: 100%;
    max-height: auto;
  }
  